<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot de passe oublié</title>
</head>
<body>
    <h2>Enter your email</h2>
    <form action="/forgetPassword" method="post">
        
        <input type="email" id="email" name="email" placeholder="adress email"><br><br>
        <input type="submit" value="send reset link"></a>
    </form>
<style>
    body {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #f6f5f7;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    margin: 0; 
}

form {
    background:  #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 50px; /* Ajout de rembourrage à gauche et à droite pour un meilleur espacement */
    border-radius: 10px; /* Ajout d'un arrondi aux coins */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre pour distinguer le formulaire du fond */
    width: 300px; /* Largeur fixe du formulaire */
}

h2 {
    font-weight: bold;
    margin-bottom: 20px; /* Augmentation de l'espacement en bas du titre */
}

input[type="email"] {
    background: #eee;
    padding: 12px 15px;
    margin: 8px 0; /* Espacement supplémentaire entre les champs */
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 0;
}

input[type="submit"] {
    background-color: green; 
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0;
}

input[type="submit"]:hover {
    background-color: #00b309;
}

   </style>
</body>
</html>
