<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/login.css" />

    <title>CURAHOPE</title>
    <link rel="icon" type="image/svg" href="/img/doctor-svgrepo-com.svg">

</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="/auth/doctorforgetpassword" method="post" class="sign-in-form">
                    <h2 class="title">Reset Password </h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="email" placeholder="email" name="email" required />
                    </div>
                    
                    <input type="submit" value="Send" class="btn solid" />
                    {{#if message}}
                    <h4 class="alert alert-danger mt-4">{{message}}</h4>
                    {{/if}}
                    
                </form>
                
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>check your email</h3>
                </div>
                <img src="/img/undraw_forgot_password_re_hxwm.svg" class="image" alt="" />
            </div>
           
    </div>

</body>

</html>