<span style="font-family: verdana, geneva, sans-serif;">
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <!-- Font Awesome Cdn Link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        <link rel="stylesheet" href="/dacount.css" />
        <title>CURAHOPE</title>
        <link rel="icon" type="image/svg" href="/img/doctor-svgrepo-com.svg">
    </head>

    <body>
        <div class="container">
            <nav>
                <div class="navbar">
                    <div class="logo">
                        <img src=" " alt="">
                        <h1> </h1>
                    </div>
                    <ul>
                        <li><a href="#">
                                <i class="fas fa-user"></i>
                                <span class="nav-item"> </span>
                            </a>
                        </li>


                        <li><a href="#">
                                <i class="fab fa-dochub"></i>
                                <span class="nav-item">Documnents</span>
                            </a>
                        </li>
                        <li><a href="#">
                                <i class="fas fa-cog"></i>
                                <span class="nav-item">Setting</span>
                            </a>
                        </li>
                        <li><a href="#">
                                <i class="fas fa-question-circle"></i>
                                <span class="nav-item">Help</span>
                            </a>
                        </li>
                        <li>
                            <form action="/logout" method="POST" >
                                <a class="logout"><button type="submit" >
                                        <i class="fas fa-sign-out-alt"></i>
                                        <span class="nav-item">Log out</span>
                                    </button></a>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>

            <section class="main">
                <div class="main-body">
                    <h1></h1>

                    <div class="search_bar">
                        <input type="search" placeholder="Search  here...">

                    </div>

                

                    



                </div>
            </section>
        </div>

    </body>

    </html>
</span>