<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/login.css" />

    <title>CURAHOPE</title>
    <link rel="icon" type="image/svg" href="/img/doctor-svgrepo-com.svg">

</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="/auth/doctorsignin" method="post" class="sign-in-form">
                    <h2 class="title">Sign in</h2>
                    <div class="input-field">
                        <i class="fas fa-id-badge"></i>
                        <input type="text" placeholder="Code" name="code" required />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" name="Username" required />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" name="password" required />
                    </div>
                    <a href="/doctorforgetpassword">Forget your password !</a>
                    <input type="submit" value="Login" class="btn solid" />
                    {{#if message}}
                    <h4 class="alert alert-danger mt-4">{{message}}</h4>
                    {{/if}}
                </form>
   

            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New here ?</h3>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
                        ex ratione. Aliquid!
                    </p>
                    <button class="btn transparent" id="sign-up-btn">
                        Sign up
                    </button>
                </div>
                <img src="/img/undraw_doctors.svg" class="image" alt="" />
            </div>
            
            </div>
        </div>
    </div>

    
</body>

</html>