<span style="font-family: verdana, geneva, sans-serif;">
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <!-- Font Awesome Cdn Link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <link rel="stylesheet" href="/acount.css" />
        <title>CURAHOPE</title>
        <link rel="icon" type="image/svg" href="/img/doctor-svgrepo-com.svg">
    </head>

    <body>
        <div class="contner">
            <nav>
                <ul>
                    <li><a href="#" class="logo">
                            <img src="{{ doctorProfileImage}}">
                            <span class="item">{{doctorname}}</span>
                        </a></li>

                    <li><a href="#" class="decoration">
                            <i class="fab fa-dochub"></i>
                            <span class="item">Documnents</span>
                        </a>
                    </li>
                    <li><a href="/editprofile" class="decoration">
                            <i class="fas fa-user"></i>
                            <span class="item">EditProfile</span>
                        </a></li>


                    <li><a href="#" class="decoration">
                            <i class="fas fa-question-circle"></i>
                            <span class="item">Help</span>
                        </a>
                    </li>
                    <form action="/logout" method="POST" class="log">
                        <button type="submit" class="logout">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="item">Log out</span>
                        </button>
                    </form>

                </ul>
            </nav>


            <section class="main">
                <div class="main-body">
                    <h1></h1>

                    <div class="search_bar">
                        <input type="search" placeholder="Search  here...">

                    </div>







                </div>
            </section>
        </div>

    </body>

    </html>
</span>