<span style="font-family: verdana, geneva, sans-serif;">
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/public/acount.css" />

        <title>CURAHOPE</title>
        <link rel="icon" type="image/svg" href="/public/img/doctor-svgrepo-com.svg">

    </head>

    <body>
        <div class="contner">
            <nav>
                <ul>
                    <li><a href="#" class="logo">
                            <img src="/public/img/profile-circle-icon-2048x2048-cqe5466q.png">
                            <span class="item">Admin</span>
                        </a></li>

                    <li><a href="#" class="decoration">
                            <i class="fas fa-comment"></i>
                            <span class="item">Message</span>
                        </a></li>
                    <li><a href="#" class="decoration">
                            <i class="fas fa-database"></i>
                            <span class="item">Report</span>
                        </a></li>
                    <li><a href="#" class="decoration">
                            <i class="fas fa-cog"></i>
                            <span class="item">Setting</span>
                        </a></li>

                    <li><a href="#" class="logout">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="item">Log out</span>
                        </a></li>
                </ul>
            </nav>


            <section class="main">
                <div class="nav-bar">
                    <h1 class="nav-title">Our doctor</h1>
                    <form action="" class="search-form">
                        <input type="search" required placeholder="Search doctors..."> <i class="fa fa-search"></i>
                        <a href="javascript:void(0)" id="clear-btn">Clear</a>
                    </form>
                </div>
                <div class="users">
                    <div class="card">
                        <img src="/public/img/bearded-doctor-glasses.jpg">
                        <h4>Sam David</h4>
                        <div class="per">
                            <p>General Surgery</p>
                            <div class="per">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod id labore corporis quo
                                    sunt
                                    non
                                    incidunt nesciunt</p>

                                <div id="collapse-1" class="collapse">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,

                                </div>
                                <button type="button" class="btn " data-bs-toggle="collapse"
                                    data-bs-target="#collapse-1">Read More</button>
                            </div>
                        </div>

                    </div>
                    <div class="card">
                        <img src="/public/img/doctor-offering-medical-teleconsultation.jpg">
                        <h4>Balbina Kherr</h4>
                        <div class="per">
                            <p>Gashoenterology</p>
                            <div class="per">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod id labore corporis quo
                                    sunt
                                    non
                                    incidunt nesciunt</p>

                                <div id="collapse-2" class="collapse">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,

                                </div>
                                <button type="button" class="btn " data-bs-toggle="collapse"
                                    data-bs-target="#collapse-2">Read More</button>
                            </div>
                        </div>

                    </div>

                    <div class="card">
                        <img src="/public/img/female-doctor-hospital-with-stethoscope.jpg">
                        <h4>Badan John</h4>
                        <div class="per">
                            <p>Cardiology</p>
                            <div class="per">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod id labore corporis quo
                                    sunt
                                    non
                                    incidunt nesciunt</p>

                                <div id="collapse-3" class="collapse">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,

                                </div>
                                <button type="button" class="btn " data-bs-toggle="collapse"
                                    data-bs-target="#collapse-3">Read More</button>
                            </div>
                        </div>

                    </div>
                    <div class="card">
                        <img src="/public/img/woman-doctor-wearing-lab-coat-with-stethoscope-isolated.jpg">
                        <h4>Sara David</h4>
                        <div class="per">
                            <p>Ear, nose and throat</p>
                            <div class="per">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod id labore corporis quo
                                    sunt
                                    non
                                    incidunt nesciunt</p>

                                <div id="collapse-4" class="collapse" style="text-transform: uppercase">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,

                                </div>
                                <button type="button" class="btn " data-bs-toggle="collapse"
                                    data-bs-target="#collapse-4">Read More</button>
                            </div>
                        </div>

                    </div>
                </div>

                <section class="attendance">
                    <div class="attendance-list">
                        <h1>Attendance List</h1>
                        <table class="tr">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>Depart</th>
                                    <th>Days</th>
                                    <th>Join Time</th>
                                    <th>Logout Time</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>Sam David</td>
                                    <td>GENERAL SURGERY</td>
                                    <td>Monday-Saturday</td>
                                    <td>8:00AM</td>
                                    <td>3:00PM</td>
                                    <td><button>reservetion</button></td>
                                </tr>
                                <tr>

                                    <td>Balbina Kherr</td>
                                    <td>GASHOENTEROLOGY</td>
                                    <td>Monday-Friday</td>
                                    <td>9:00AM</td>
                                    <td>4:00PM</td>
                                    <td><button>reservetion</button></td>
                                </tr>
                                <tr>

                                    <td>Badan John</td>
                                    <td>CARDIOLOGY</td>
                                    <td>Tuesday-Saturday</td>
                                    <td>8:00AM</td>
                                    <td>3:00PM</td>
                                    <td><button>reservetion</button></td>
                                </tr>
                                <tr>

                                    <td>Sara David</td>
                                    <td>EAR, NOSE AND THROAT</td>
                                    <td>Monday-Saturday</td>
                                    <td>8:00AM</td>
                                    <td>3:00PM</td>
                                    <td><button>reservetion</button></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </section>
            </section>
        </div>
        <script>
            const clearInput = () => {
                const input = document.getElementsByTagName("input")[0];
                input.value = "";
            }

            const clearBtn = document.getElementById("clear-btn");
            clearBtn.addEventListener("click", clearInput);


        </script>
    </body>

    </html>
</span>