<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/login.css" />

    <title>CURAHOPE</title>
    <link rel="icon" type="image/svg" href="img/doctor-svgrepo-com.svg">

</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="/auth/resetpassword" method="post" class="sign-in-form" id="reset-password-form">
                    <h2 class="title">Reset Password </h2>
                    <input type="hidden" name="token" value="{{ token }}">
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="password" placeholder="new password" name="password" required />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="password" placeholder="confirm password" name="confirm_password" required />
                    </div>
                    <input type="submit" value="Reset" class="btn solid" />
                    {{#if message}}
                    <h4 class="alert alert-danger mt-4">{{message}}</h4>
                    {{/if}}

                </form>
               

            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>check your password</h3>
                </div>
                <img src="img\undraw_forgot_password_re_hxwm.svg" class="image" alt="" />
            </div>

        </div>

</body>

</html>